[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy="*"
jupyter="*"
matplotlib="*"
pandas="*"
scikit-learn="*"
seaborn="*"

[dev-packages]
black="*"

[requires]
python_version = "3.7"
